*{
    padding: 0;
    margin: 0;
    
    
}
.head{
    background-color: rgba(8, 8, 8, 0.2);
    overflow: hidden;
    padding: 10px 5px 20px;
}
.top{
    margin-top: 30px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.in{
    font-size: 20px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 1100px;

}
.in a{
    text-decoration: none;
    font-size: 15px;
}
.nav{
    padding: 0px;
    width: 100%;
}
.nav ul{
    float: left;
    overflow: hidden;
    text-decoration: none;
    display:flex; 
}
.nav ul li{
    width: 344px;
    background-color: rgba(3, 3, 3, 0.2);
    overflow: hidden;
}
.nav ul li a{
    text-decoration: none;
    
    letter-spacing: 2px;
    font: 15px bold;
    color: rgb(246, 246, 250);
    display: block;
    
    padding-left: 40%;
    align-items:center;
    padding: 20px 10px 20px;
    
}
.nav ul li a:hover{
    background-color: rgb(218, 8, 8);
    scale: (1,1);
    transition: 2s;
}
.e1{
    margin-left:40% ;
}
.main2{
    border: hidden;
    width: 400px;
    height: 200px;
    padding: 20px 10px 20px 10px;
    margin: 150px 100px 50px;
    text-align: center;
    
}
h2{
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(3, 3, 3, 0.2);
}
.s1{
    padding: 30px 10px 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
}
.main2 a{
    display: block;
    color: black;
    padding: 20px 20px 20px;
    border: hidden;
    width: fit-content;
    margin-left: 60px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
}
.main2 a:hover{
    background-color: aliceblue;
}
.main3{
    display: flex;
    text-align: left;
    margin-left: 900px;
    margin-top: -240px;
    margin-bottom: 100px;
    margin-right: 115px;
    font: 17px bold;
    background-image:linear-gradient(rgba(19, 18, 18, 0.4),rgba(253, 9, 9, 0.3)) ;
}
.id{
    padding: 20px 40px 20px 40px;
    text-align: left;
    font-family:'Times New Roman', Times, serif;
}
legend{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 3px;
}
.main4{
    display: flex;
    
}
.m1{
    float: left;
    display: block;
    width: 250px;
    text-align: center;
    height: 350px;
    border: hidden;
    border-radius: 20px;
    margin-left: 150px;
    background-image:linear-gradient(rgba(19, 18, 18, 0.4),rgba(253, 9, 9, 0.3)) ;
}
.m1{
    background-color: aliceblue;
}
#w1{
    height: 120px;
    width: 120px;
    
}
.m2{
    flex-direction: column;
    text-align: center;
    padding: 10px;
    
}
.m1 a{
    display: block;
    color: black;
    padding: 20px 20px 20px 20px;
    border: hidden;
    width: fit-content;
    margin-left: 60px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
}
.m1 a:hover{
    background-color: rgb(167, 170, 170);
}
#class{
    margin: 70px 70px 40px;
    display: flex;
}
.main5{
    margin: 20px 20px 100px 700px;
    display: flex;
    margin-top: -300px;
    border: 200px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}
.main6{
    width:100%

}
.main6 ul{
    float: left;
    overflow: hidden;
    text-decoration: none;
    display:flex; 
}
.main6 ul li{
    width: 344px;
    
    background-color: rgba(3, 3, 3, 0.2);
    overflow: hidden;
}
.main6 ul li a{
    text-decoration: none;
    height: 100px;
    letter-spacing: 2px;
    font: 15px bold;
    color: rgb(12, 12, 12);
    display: block;
    
    padding-left: 40%;
    text-align:center;
    padding: 50px 10px 20px;
    
}
.main6 ul li a:hover{
    background-color: rgb(163, 165, 170);
    scale: (1,1);
    transition: 0.2s;
}
body{
    background: url(https://e7.pngegg.com/pngimages/626/776/png-clipart-magnificent-bird-of-paradise-cenderawasih-bay-logo-bird-bird-cenderawasih-bay-thumbnail.png) center center fixed no-repeat;
    background-position: center;
    background-size: cover;
    
}
.main{
    background-color: rgba(139, 138, 138, 0.7);
}


